@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,700");
* {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

a {
  font-weight: 300;
  text-decoration: none; }

p {
  line-height: 26px;
  font-weight: 300; }

h2 {
  padding: 35px;
  font-weight: 400; }

h4 {
  font-size: 24px;
  padding: 40px;
  font-weight: 100; }
  @media (max-width: 900px) {
    h4 {
      font-size: 17px;
      padding: 17px; } }
  @media (max-width: 700px) {
    h4 {
      font-size: 13px;
      padding: 9px; } }

h1 {
  padding-bottom: 80px;
  font-size: 72px;
  font-weight: bold;
  line-height: 70px; }
  @media (max-width: 900px) {
    h1 {
      font-size: 35px;
      padding: 17px;
      line-height: inherit; } }
  @media (max-width: 700px) {
    h1 {
      font-size: 26px;
      padding-top: 0; } }

.container {
  max-width: 1162px;
  margin: auto; }

button {
  width: 200px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: solid white 2px;
  color: #fff;
  cursor: pointer;
  transition: .3s; }

button:focus {
  outline: none; }

.italic {
  font-family: serif;
  font-style: italic; }

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  color: #fff;
  padding-top: 10px;
  padding-right: 80px;
  padding-left: 80px;
  tranistion: .3s; }
  @media (max-width: 600px) {
    .nav {
      padding: 0; } }
  .nav__logo {
    width: 60px;
    height: 60px; }
    .nav__logo img {
      width: 100%;
      height: 100%; }
  .nav__list {
    display: flex; }
    .nav__list li {
      list-style: none;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 13px; }
  .nav__scrolled {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 0;
    transition: .3s; }
  .nav a {
    text-decoration-line: none;
    color: #d5dde4; }
    .nav a:hover {
      color: #fff; }

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/home%20main.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%; }
  @media (max-width: 500px) {
    .home {
      background-position: center; } }
  .home__content {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .home__btn {
    margin-bottom: 50px; }
  .home button:hover {
    background: #fff;
    color: #000; }

.aboutMe {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 100px; }
  @media (max-width: 1110px) {
    .aboutMe {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%; } }
  .aboutMe h2 {
    font-family: serif;
    font-size: 42px; }
  .aboutMe__caption {
    text-align: center; }
  .aboutMe__projects {
    text-align: center;
    margin-top: 30px; }
  .aboutMe__projectsList {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    justify-content: center; }
    @media (max-width: 500px) {
      .aboutMe__projectsList {
        flex-direction: column;
        align-items: center; } }
  .aboutMe__item {
    width: 280px;
    height: 280px;
    margin: 10px;
    position: relative;
    overflow: hidden; }
    @media (max-width: 900px) {
      .aboutMe__item {
        width: 240px;
        height: 240px;
        margin: 5px; } }
    .aboutMe__item:hover .aboutMe__overlay {
      transform: translateY(0);
      transition: .5s; }
    .aboutMe__item img {
      width: 100%;
      height: 100%; }
    @media (max-width: 900px) {
      .aboutMe__item:nth-child(3) {
        display: none; } }
  .aboutMe button {
    color: black;
    border: black solid 2px; }
    .aboutMe button:hover {
      color: #fff;
      background: #000; }
  .aboutMe__overlay {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(280px);
    transition: .5s; }
    .aboutMe__overlay p:nth-child(1) {
      font-family: serif;
      font-style: italic; }
    .aboutMe__overlay p:nth-child(2) {
      font-size: 20px;
      font-weight: bold; }
    .aboutMe__overlay button {
      width: 120px;
      height: 40px;
      margin-top: 10px;
      font-size: 13px;
      color: #fff;
      border-color: #fff; }

.portfolioHeader {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/work%20main.jpg);
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  .portfolioHeader__caption {
    text-align: center; }

.portfolio {
  text-align: left;
  background: #F5F5F5;
  padding-bottom: 60px;
  overflow: hidden; }
  @media (max-width: 1200px) {
    .portfolio {
      padding: 0 20px;
      padding-bottom: 60px; } }
  .portfolio p {
    font-size: 26px;
    font-weight: 300;
    line-height: 30px; }
    @media (max-width: 420px) {
      .portfolio p {
        font-size: 17px; } }
  .portfolio h2 {
    margin-bottom: 30px;
    padding: 0;
    font-size: 42px;
    font-family: serif; }
    @media (max-width: 900px) {
      .portfolio h2 {
        font-size: 35px;
        margin-bottom: 20px; } }
  .portfolio__content {
    text-align: left; }
  .portfolio__caption {
    padding: 30px;
    padding-top: 83px; }
  .portfolio__gallery {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .portfolio__item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 50px 0; }
    @media (max-width: 900px) {
      .portfolio__item {
        flex-direction: column; } }
    .portfolio__item:nth-child(even) {
      flex-direction: row-reverse; }
      @media (max-width: 900px) {
        .portfolio__item:nth-child(even) {
          flex-direction: column; } }
      .portfolio__item:nth-child(even) .portfolio__itemInfo {
        left: 0;
        transform: translateX(-100px); }
        @media (max-width: 900px) {
          .portfolio__item:nth-child(even) .portfolio__itemInfo {
            width: 100%; } }
        @media (max-width: 900px) {
          .portfolio__item:nth-child(even) .portfolio__itemInfo {
            transform: translate(0); } }
        .portfolio__item:nth-child(even) .portfolio__itemInfo a {
          align-self: flex-start; }
  .portfolio__img {
    width: 872px;
    height: 489px;
    opacity: 0;
    transition: .5s; }
    @media (max-width: 900px) {
      .portfolio__img {
        width: 100%;
        height: auto; } }
    .portfolio__img img {
      width: 100%;
      height: 100%; }
  .portfolio__itemInfo {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    text-align: left;
    max-width: 583px;
    max-height: 248px;
    padding: 30px;
    background: #fff;
    transform: translateX(100px);
    opacity: 0;
    transition: .3s; }
    @media (max-width: 900px) {
      .portfolio__itemInfo {
        padding: 10px;
        position: relative;
        max-width: 100%;
        width: 100%;
        text-align: center; } }
    @media (max-width: 800px) {
      .portfolio__itemInfo {
        padding: 10px;
        position: relative;
        max-width: 100%;
        width: 100%;
        text-align: center;
        transform: translateX(0); } }
    .portfolio__itemInfo p {
      font-weight: 300;
      font-size: 16px;
      line-height: 26px; }
      @media (max-width: 900px) {
        .portfolio__itemInfo p {
          font-size: 14px;
          line-height: 21px; } }
    .portfolio__itemInfo a {
      align-self: flex-end;
      padding-top: 20px; }
  .portfolio button {
    color: black;
    border: black solid 2px; }
    .portfolio button:hover {
      color: #fff;
      background: #000; }

.active {
  opacity: 1;
  transition: .5s; }

.slideIn {
  transform: translateY(0) !important;
  opacity: 1;
  transition: .3s; }
  @media (max-width: 800px) {
    .slideIn {
      transition-delay: .5s; } }

.contactHeader {
  background: url(../img/contact%20main.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contactHeader__caption {
    text-align: center; }

.contact__form {
  padding: 74px; }
  @media (max-width: 900px) {
    .contact__form {
      padding: 50px 20px; } }

.contact__line p {
  position: relative;
  font-size: 20px;
  font-family: sans-serif; }
  .contact__line p::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
    bottom: 0;
    left: 0;
    right: 0; }

.contact input,
.contact textarea {
  border: solid 2px #eeeeee;
  padding: 12px 20px; }
  .contact input:focus,
  .contact textarea:focus {
    outline: none; }

.contact__wrapper {
  margin-top: 55px; }
  @media (max-width: 500px) {
    .contact__wrapper {
      margin-top: 20px; } }

.contact__inputs {
  display: flex;
  justify-content: space-between; }
  .contact__inputs input {
    width: 480px;
    height: 40px;
    margin: 10px 0; }
    @media (max-width: 1120px) {
      .contact__inputs input {
        width: 96%; } }

.contact__name {
  display: flex;
  flex-direction: column;
  width: 100%; }

.contact__email {
  margin-top: 55px; }
  .contact__email input[name="email"] {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    margin-bottom: 55px; }
    @media (max-width: 1120px) {
      .contact__email input[name="email"] {
        width: 98%; } }
  .contact__email textarea {
    width: 100%;
    height: 200px;
    margin: 10px 0; }
    @media (max-width: 1120px) {
      .contact__email textarea {
        width: 98%; } }

.contact__btn {
  display: flex;
  justify-content: center; }
  .contact__btn button {
    background: #272727;
    margin: 0;
    margin-top: 50px;
    font-size: 22px;
    font-weight: 300;
    border: solid black 1px; }
    .contact__btn button:hover {
      background: #fff;
      color: #000; }

.grecaptcha-badge {
  display: none; }

.contactForm {
  padding-top: 122px;
  color: #fff;
  height: 100vh;
  width: 100%;
  text-align: center;
  margin: 0px auto;
  background: url(../img/contact%20main.jpg);
  background-size: cover; }
  .contactForm a {
    color: #fff; }
  .contactForm button {
    opacity: 0.7;
    letter-spacing: 3px; }
    .contactForm button:hover {
      opacity: 1; }

.footer {
  background: url(../img/footer.jpg) 0% 60%;
  background-size: cover;
  text-align: center;
  color: #fff;
  width: 100%; }
  .footer p {
    font-size: 12px; }
  @media (max-width: 520px) {
    .footer {
      font-size: 10px; } }
  .footer h2 {
    font-family: serif;
    padding: 0;
    padding-top: 20px; }
    @media (max-width: 520px) {
      .footer h2 {
        font-size: 18px; } }
  .footer__media {
    display: flex;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    width: 200px;
    height: 70px; }
  .footer__icon {
    width: 45px;
    height: 45px;
    margin: 5px;
    opacity: 0.7; }
    .footer__icon:hover {
      opacity: 1; }
  .footer button {
    margin: 20px; }
    .footer button:hover {
      background: #fff;
      color: #000; }
