.aboutMe {

    width: 100%;
    padding-top: 40px;
    padding-bottom: 100px;

    @media(max-width: 1110px) {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    h2 {
        font-family: serif;
        font-size: 42px;
    }

    &__caption {
        text-align: center;
    }

    &__projects {
        text-align: center;
        margin-top: 30px;

    }

    &__projectsList {
        display: flex;
        margin: auto;
        margin-bottom: 20px;
        justify-content: center;

        @media(max-width: 500px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        width: 280px;
        height: 280px;
        margin: 10px;
        position: relative;
        overflow: hidden;

        @media(max-width: 900px) {
            width: 240px;
            height: 240px;
            margin: 5px;
        }

        &:hover .aboutMe__overlay {
            transform: translateY(0);
            transition: .5s;
        }

        img {
            width: 100%;
            height: 100%;
        }

        &:nth-child(3) {
            @media(max-width: 900px) {

                display: none;
            }
        }
    }

    button {
        color: black;
        border: black solid 2px;

        &:hover {
            color: #fff;
            background: #000;
        }
    }

    &__overlay {
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(280px);
        transition: .5s;

        p:nth-child(1) {
            font-family: serif;
            font-style: italic;
        }

        p:nth-child(2) {
            font-size: 20px;
            font-weight: bold;
        }

        button {
            width: 120px;
            height: 40px;
            margin-top: 10px;
            font-size: 13px;
            color: #fff;
            border-color: #fff;
        }
    }
}
