.contact {
    &__form {
        padding: 74px;

        @media(max-width: 900px) {

            padding: 50px 20px;
        }

    }

    &__line {
        p {
            position: relative;
            font-size: 20px;
            font-family: sans-serif;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background: #000;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }

    input,
    textarea {
        border: solid 2px #eeeeee;
        padding: 12px 20px;

        &:focus {
            outline: none;
        }

    }

    &__wrapper {
        margin-top: 55px;

        @media(max-width: 500px) {
            margin-top: 20px;
        }
    }

    &__inputs {
        display: flex;
        justify-content: space-between;

        input {
            width: 480px;
            height: 40px;
            margin: 10px 0;

            @media(max-width: 1120px) {

                width: 96%;
            }
        }
    }

    &__name {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__email {
        margin-top: 55px;

        input[name="email"] {
            width: 100%;
            height: 40px;
            margin: 10px 0;
            margin-bottom: 55px;

            @media(max-width: 1120px) {

                width: 98%;
            }
        }

        textarea {
            width: 100%;
            height: 200px;
            margin: 10px 0;

            @media(max-width: 1120px) {

                width: 98%;
            }
        }
    }

    &__btn {
        display: flex;
        justify-content: center;

        button {
            background: #272727;
            margin: 0;
            margin-top: 50px;
            font-size: 22px;
            font-weight: 300;
            border: solid black 1px;

            &:hover {
                background: #fff;
                color: #000;


            }
        }
    }
}

.grecaptcha-badge {
    display: none;
}
