.contactHeader {
    // background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(../img/work%20main.jpg);
    background: url(../img/contact%20main.jpg);
    background-position:center;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &__caption {
        text-align: center;
    }
}
