.contactForm {
    padding-top: 122px;
    color: #fff;
    height: 100vh;
    width: 100%;
    text-align: center;
    margin: 0px auto;
    background: url(../img/contact%20main.jpg);
    background-size: cover;

    a {
        color: #fff;
    }

    button {
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
        letter-spacing: 3px;
    }
}
