.footer {
    background: url(../img/footer.jpg)0% 60%;
    background-size: cover;
    text-align: center;
    color: #fff;
    width: 100%;

    p {
        font-size: 12px;
    }

    @media(max-width: 520px) {
        font-size: 10px;
    }

    h2 {
        font-family: serif;
        padding: 0;
        padding-top: 20px;

        @media(max-width: 520px) {
            font-size: 18px;
        }
    }

    &__media {
        display: flex;
        margin: auto;
        margin-top: 10px;
        justify-content: center;
        width: 200px;
        height: 70px;

    }

    &__icon {
        width: 45px;
        height: 45px;
        margin: 5px;
        opacity: 0.7;
        
        &:hover {
            opacity: 1;
        }
     

    }



    button {
        margin: 20px;

        &:hover {
            background: #fff;
            color: #000;
        }
    }
}
