.home {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../img/home%20main.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
        @media(max-width: 500px){
        background-position: center;
    }

    &__content {
        display: inherit;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    &__btn {
        margin-bottom: 50px;
    }
    button {
        &:hover {
            background: #fff;
            color: #000;
        }
    }
}
