.portfolio {
    text-align: left;
    background: #F5F5F5;
    padding-bottom: 60px;
    overflow: hidden;

    @media(max-width: 1200px) {
        padding: 0 20px;
        padding-bottom: 60px;
    }

    p {
        font-size: 26px;
        font-weight: 300;
        line-height: 30px;
        
    @media(max-width: 420px) {
    font-size: 17px;
    }
        
    }


    h2 {
        margin-bottom: 30px;
        padding: 0;
        font-size: 42px;
        font-family: serif;

        @media(max-width: 900px) {
            font-size: 35px;
            margin-bottom: 20px;

        }

    }

    &__content {
        text-align: left;
    }

    &__caption {
        padding: 30px;
        padding-top: 83px;
    }

    &__gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 50px 0;

        @media(max-width: 900px) {
            flex-direction: column;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            @media(max-width: 900px) {
                flex-direction: column;
            }


            .portfolio__itemInfo {
                left: 0;
                transform: translateX(-100px);

                @media(max-width: 900px) {
                    width: 100%;
                }

                @media(max-width: 900px) {
                    transform: translate(0);
                }

                a {
                    align-self: flex-start
                }
            }
        }

    }

    &__img {
        width: 872px;
        height: 489px;
        opacity: 0;
        transition: .5s;

        @media(max-width: 900px) {
            width: 100%;
            height: auto;
        }


        img {
            width: 100%;
            height: 100%;
        }
    }

    &__itemInfo {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        text-align: left;
        max-width: 583px;
        max-height: 248px;
        padding: 30px;
        background: #fff;
        transform: translateX(100px);
        opacity: 0;
        transition: .3s;

        @media(max-width: 900px) {
            padding: 10px;
            position: relative;
            max-width: 100%;
            width: 100%;
            text-align: center;

        }

        @media(max-width: 800px) {
            padding: 10px;
            position: relative;
            max-width: 100%;
            width: 100%;
            text-align: center;
            transform: translateX(0);

        }

        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;

            @media(max-width: 900px) {
                font-size: 14px;
                line-height: 21px;

            }
        }

        a {
            align-self: flex-end;
            padding-top: 20px;
        }
    }

    button {
        color: black;
        border: black solid 2px;

        &:hover {
            color: #fff;
            background: #000;
        }
    }
}

.active {
    opacity: 1;
    transition: .5s;
}

.slideIn {
    transform: translateY(0) !important;
    opacity: 1;
    transition: .3s;

    @media(max-width: 800px) {
        transition-delay: .5s;
    }

}
